# Lab #4: Data Cleaning

Lillian Ellis

Created October 3, 2018

Overall Introduction: In this lab, I cleaned 3 different data sets by reading them in and modifing them. I have included an explaination of each data set and my methods throughout this lab. What we explored in this data surrounding how to clean our data sets will be extremley valuable knowledge when editing and analayzing future sets of data.

In [26]:
#Importing pandas packages for all data sets
import math as m
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

**FIRST DATA SET: BOING BOING CANDY HIERARCHY 2016 SURVEY RESPONSES:**

**Introduction:**

The data set "BOING-BOING-CANDY-HIERARCHY-2016-SURVEY-Responses" is a survey released in 2016 with a goal to find information on the "best and worst treats of 2016." The link to the article that uses the data: https://boingboing.net/2016/10/31/the-candy-hierarchy-for-2016.html. This survey has been relased throughout the years. The 2015 survey, very similar to the 2016 one, was based on 518,605 data points from 5,459 individuals.

**Dataset Preparation**

First, I read the excel file into the data frame structure, and printed the first 5 rows with the head method to see what the data looked like when it was first read in.

In [15]:
#one line to open and read a excel filed into a data frame data structure
df3 = pd.read_excel('BOING-BOING-CANDY-HIERARCHY-2016-SURVEY-Responses.xlsx')

#print the first few lines of the data fram, default is 5 lines
df3.head()

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
0,2016-10-24 05:09:23.033,No,Male,22,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,3 or higher,2,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1,2016-10-24 05:09:54.798,No,Male,45,usa,il,MEH,MEH,JOY,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
2,2016-10-24 05:13:06.734,No,Female,48,US,Colorado,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
3,2016-10-24 05:14:17.192,No,Male,57,usa,il,JOY,MEH,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN
4,2016-10-24 05:14:24.625,Yes,Male,42,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN

I first noticed that the headers were extremley messy in that they were long, hard to read, and complicated. I renamed the column headers.

In [16]:
#fixing the headers, the headers are weirdly spaced and not lined up properly

#with the rename method, I called the header name and renamed it

#inplace directly replaces it in your list 
#this makes a permanent change, a view (not just editing the view)

df3.rename(columns = {'Timestamp':'time',
                     'Are you going actually going trick or treating yourself?' : 'trick_or_treat',
                      'Your gender:' : 'gender',
                      'How old are you?' : 'age',
                      'Which country do you live in?' : 'country',
                      'Which state, province, county do you live in?' : 'province',
                     #'[100 Grand Bar]', '100_grand_bar',
                     list(df3)[6] : '100_grand_bar'},
          inplace = True)

df3.head()

,time,trick_or_treat,gender,age,country,province,100_grand_bar,[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
0,2016-10-24 05:09:23.033,No,Male,22,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,3 or higher,2,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1,2016-10-24 05:09:54.798,No,Male,45,usa,il,MEH,MEH,JOY,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
2,2016-10-24 05:13:06.734,No,Female,48,US,Colorado,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
3,2016-10-24 05:14:17.192,No,Male,57,usa,il,JOY,MEH,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN
4,2016-10-24 05:14:24.625,Yes,Male,42,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN

Next, I noticed that there were multiple instances where there were multiple answers for one value. People had filled out multiple answers for US, especially.

To find the number of people from the US, I first turned everything to capital letters to minimalize the positibilities for words for the US and other values.

In [17]:
#turning into capitals with str.upper method
df3['country'] = df3['country'].str.upper()
#print header
df3.head()

,time,trick_or_treat,gender,age,country,province,100_grand_bar,[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
0,2016-10-24 05:09:23.033,No,Male,22,CANADA,Ontario,JOY,DESPAIR,JOY,MEH,...,3 or higher,2,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1,2016-10-24 05:09:54.798,No,Male,45,USA,il,MEH,MEH,JOY,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
2,2016-10-24 05:13:06.734,No,Female,48,US,Colorado,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
3,2016-10-24 05:14:17.192,No,Male,57,USA,il,JOY,MEH,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN
4,2016-10-24 05:14:24.625,Yes,Male,42,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN

Now that I had everything in that column capitalized, the possibilities of different combinations were more limited. I then used the .fromkeys and .replace methods to replace all USA values with "USA" and all UK values with "UK"

I also notived that MEH, JOY, and DESPAIR were long strings for a rating system. I decided to change these to numbers

In [18]:
#defining all the posibilities of the term USA (now that we have capitalized, we have less possibilities)
usa_replace = dict.fromkeys(['US', 'UNITED STATES', 'UNITED STATES OF AMERICA', 'USSA', 'USA!', 'U.S.A', 'U.S.', 'UNITED STATE', 'USA! USA! USA!'], 'USA')
df3 = df3.replace(usa_replace)
uk_replace = dict.fromkeys(['UNITED KINGDOM', 'ENGLAND'], 'UK')
df3 = df3.replace(uk_replace)

#Next, replacing MEH, JOY, and DESPAIR with number values to clear up data set 
df3.replace(['MEH', 'JOY', 'DESPAIR'], [1,2,3])

,time,trick_or_treat,gender,age,country,province,100_grand_bar,[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
0,2016-10-24 05:09:23.033,No,Male,22,CANADA,Ontario,2.0,3.0,2.0,1.0,...,3 or higher,2,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1,2016-10-24 05:09:54.798,No,Male,45,USA,il,1.0,1.0,2.0,2.0,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
2,2016-10-24 05:13:06.734,No,Female,48,USA,Colorado,2.0,3.0,2.0,1.0,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
3,2016-10-24 05:14:17.192,No,Male,57,USA,il,2.0,1.0,2.0,1.0,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN
4,2016-10-24 05:14:24.625,Yes,Male,42,USA,South Dakota,1.0,3.0,2.0,3.0,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN
5,2016-10-24 05:16:43.126,No,Male,41,USA,Georgia,2.0,3.0,2.0,1.0,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
6,2016-10-24 05:16:50.572,Yes,Male,47,USA,il,3.0,3.0,2.0,3.0,...,2,3 or higher,3 or higher,2,2,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
7,2016-10-24 05:16:55.324,No,Male,28,CANADA,Ontario,1.0,2.0,2.0,3.0,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
8,2016-10-24 05:17:49.292,Yes,Male,44,USA,PA,1.0,3.0,2.0,3.0,...,3 or higher,3 or higher,2,3 or higher,2,2,Friday,East to West,ESPN,NaN
9,2016-10-24 05:18:51.021,No,Female,41,UK,NaN,3.0,3.0,2.0,3.0,...,2,1,3 or higher,3 or higher,3 or higher,"Actually, that's me.",Sunday,"north to south, but tilted 90 degrees with ste...",ESPN,NaN
10,2016-10-24 05:20:21.125,No,Other,34,USA,IN,2.0,3.0,2.0,2.0,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,fnord,Science: Latest News and Headlines,NaN
11,2016-10-24 05:21:19.858,No,Female,46,USA,the Mitten,1.0,3.0,1.0,3.0,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,I always slice them because the core annoys me,Science: Latest News and Headlines,NaN
12,2016-10-24 05:21:27.708,No,Male,41,USA,California,1.0,3.0,2.0,NaN,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,YAHOO! Finance.,NaN
13,2016-10-24 05:22:12.699,Yes,Male,45,JAPAN,Tokyo,1.0,3.0,1.0,3.0,...,2,2,3 or higher,3 or higher,2,2,Sunday,East to West,Science: Latest News and Headlines,NaN
14,2016-10-24 05:22:30.678,No,Male,40,USA,ca,1.0,3.0,1.0,1.0,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
15,2016-10-24 05:24:08.316,No,Female,31,USA,Ny,1.0,3.0,2.0,1.0,...,3 or higher,2,1,3 or higher,2,3 or higher,Friday,Around the world baby,Daily Dish,NaN
16,2016-10-24 05:24:11.446,No,Female,33,USA,WA,2.0,3.0,1.0,NaN,...,3 or higher,3 or higher,3 or higher,2,1,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
17,2016-10-24 05:26:18.333,No,Male,35,CANADA,Ontario,NaN,3.0,2.0,NaN,...,3 or higher,3 or higher,3 or higher,2,3 or higher,3 or higher,Friday,East to West,ESPN,NaN
18,2016-10-24 05:26:35.167,Yes,Male,49,USA,NJ,1.0,3.0,2.0,3.0,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,I cut them and eat with cheese or peanut butter,ESPN,NaN
19,2016-10-24 05:27:00.491,No,Male,44,USA,nh,1.0,3.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Sunday,East to West,Science: Latest News and Headlines,NaN
20,2016-10-24 05:30:39.763,No,Male,45,USA,Tennessee,2.0,3.0,2.0,1.0,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,1,Friday,Sliced,Science: Latest News and Headlines,NaN
21,2016-10-24 05:31:48.862,No,Male,34,CANADA,newfoundland,1.0,3.0,2.0,1.0,...,3 or higher,3 or higher,3 or higher,2,2,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
22,2016-10-24 05:33:18.915,No,Male,48,USA,Maryland,1.0,3.0,2.0,3.0,...,3 or higher,3 or higher,3 or higher,3 or higher,2,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
23,2016-10-24 05:33:28.488,No,Female,16,USA,Pennsylvania,1.0,3.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Friday,West to East,YAHOO! Finance.,NaN
24,2016-10-24 05:34:36.438,No,Male,60,USA,Delaware,NaN,NaN,2.0,3.0,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,"Actually, that's me.",Friday,South to North,Science: Latest News and Headlines,NaN
25,2016-10-24 05:34:37.116,No,Male,30,USA,ma,1.0,2.0,2.0,3.0,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
26,2016-10-24 05:34:40.001,No,Female,51,USA,Michigan,1.0,3.0,2.0,3.0,...,1,1,1,1,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
27,2016-10-24 05:35:45.940,No,I'd rather not say,31,USA,Florida,1.0,3.0,2.0,3.0,...,3 or higher,2,3 or higher,3 or higher,3 or higher,3 or higher,Friday,NE to SW,Science: Latest News and Headlines,NaN
28,2016-10-24 05:36:13.156,No,Male,51,USA,SC,1.0,1.0,2.0,3.0,...,3 or higher,2,3 or higher,3 or higher,2,2,Friday,eating raw apples gives me anaphylaxis,Science: Latest News and Headlines,NaN
29,2016-10-24 05:36:44.146,No,I'd rather not say,33,USA,MN,2.0,3.0,2.0,3.0,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,Cut into 8ths,Science: Latest News and Headlines,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1229,2016-10-28 09:10:29.100,No,Male,31,USA,Massachusetts,2.0,1.0,2.0,2.0,...,3 or higher,2,3 or higher,3 or higher,2,3 or higher,Friday,I butcher them first.,Science: Latest News and Headlines,NaN
1230,2016-10-28 09:10:38.669,No,Male,51,USA,Louisiana,2.0,3.0,2.0,3.0,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,ESPN,NaN
1231,2016-10-28 09:51:59.394,No,Other,33,USA,NC,2.0,1.0,2.0,NaN,...,2,2,3 or higher,3 or higher,3 or higher,3 or higher,Friday,I take random bites starting in the middle,Science: Latest News and Headlines,NaN
1232,2016-10-28 10:12:14.405,No,Female,25,USA,CA,3.0,1.0,1.0,3.0,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
1233,2016-10-28 10:19:10.361,No,Female,29,USA,California,2.0,3.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Friday,East to West,Science: Latest News and Headlines,NaN
1234,2016-10-28 10:32:54.679,No,Female,26,USA,DC,1.0,3.0,1.0,1.0,...,1,2,1,3 or higher,3 or higher,2,Friday,West to East,Science: Latest News and Headlines,NaN
1235,2016-10-28 10:54:41.121,No,Female,44,CANADA,Ontario,2.0,3.0,2.0,NaN,...,3 or higher,3 or higher,3 or higher,2,3 or higher,2,Friday,East to West,Science: Latest News and Headlines,NaN
1236,2016-10-28 12:41:25.987,No,Male,24,USA,Massachusetts,1.0,3.0,2.0,1.0,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
1237,2016-10-28 12:59:36.013,No,Female,31,USA,MO,1.0,1.0,2.0,3.0,...,3 or higher,2,3 or higher,3 or higher,2,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
1238,2016-10-28 13:08:58.202,No,Female,71,USA,MD,2.0,3.0,1.0,3.0,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN
1239,2016-10-28 13:16:27.652,No,Female,32,USA,Virginia,2.0,3.0,2.0,1.0,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
1240,2016-10-28 13:42:50.055,No,Male,27,USA,MI,3.0,1.0,2.0,1.0,...,3 or higher,3 or higher,3 or higher,3 or higher,2,3 or higher,Friday,East to West,YAHOO! Finance.,NaN
1241,2016-10-28 14:26:09.078,No,Female,26,CANADA,Prince Edward Island,1.0,3.0,2.0,1.0,...,3 or higher,3 or higher,3 or higher,2,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
1242,2016-10-28 14:37:24.766,No,Male,46,USA,IL,2.0,1.0,2.0,2.0,...,3 or higher,3 or higher,3 or higher,3 or higher,2,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1243,2016-10-28 15:58:09.398,Yes,Male,45,USA,Boo Jersey,2.0,3.0,2.0,1.0,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,"quarter, then de-core",Science: Latest News and Headlines,NaN
1244,2016-10-28 17:05:16.492,No,Female,45,USA,Pennsylvania,2.0,2.0,2.0,3.0,...,1,2,3 or higher,3 or higher,2,3 or higher,Friday,East to West,ESPN,NaN
1245,2016-10-28 17:37:43.109,No,Female,49 11/12ths,USA,IL,1.0,3.0,2.0,3.0,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
1246,2016-10-28 19:45:24.355,No,Male,31,CANADA,Ontario,NaN,1.0,2.0,NaN,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN
1247,2016-10-28 21:41:51.875,No,Female,31,USA,Connecticut,2.0,3.0,2.0,3.0,...,2,1,3 or higher,3 or higher,2,3 or higher,Sunday,I slice them into wedges,Science: Latest News and Headlines,NaN
1248,2016-10-29 00:55:44.688,No,Male,27,USA,Washington,1.0,3.0,2.0,1.0,...,3 or higher,3 or higher,3 or higher,3 or higher,2,3 or higher,Friday,Cored,Science: Latest News and Headlines,NaN
1249,2016-10-29 07:21:44.555,Yes,Female,47,USA,WA,1.0,3.0,NaN,2.0,...,3 or higher,2,2,3 or higher,2,"Actually, that's me.",Sunday,I cut them up,Science: Latest News and Headlines,NaN
1250,2016-10-29 10:53:26.543,No,Male,35,USA,Massachusetts,2.0,3.0,2.0,1.0,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
1251,2016-10-29 11:56:55.930,No,Female,34,USA,New Hampshire,2.0,1.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1252,2016-10-29 12:02:52.773,Yes,Female,56,USA,NH,2.0,1.0,2.0,1.0,...,3 or higher,3 or higher,3 or higher,3 or higher,1,3 or higher,Friday,East to West,ESPN,NaN
1253,2016-10-29 14:47:43.907,No,Male,54,USA,wisconisin,1.0,1.0,NaN,3.0,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,"Actually, that's me.",Friday,Pureed,Science: Latest News and Headlines,NaN
1254,2016-10-29 16:53:52.516,No,Female,52,USA,TX,2.0,3.0,2.0,1.0,...,3 or higher,3 or higher,3 or higher,3 or higher,2,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
1255,2016-10-30 06:53:54.735,No,Male,33,USA,minnesota,2.0,3.0,2.0,3.0,...,"Actually, that's me.",3 or higher,3 or higher,3 or higher,3 or higher,"Actually, that's me.",Friday,Sinusoidally around the equator,Science: Latest News and Headlines,NaN
1256,2016-10-30 11:06:10.827,No,Male,NaN,NaN,NaN,2.0,1.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Sunday,nne to east to nnw to s to n,Science: Latest News and Headlines,NaN
1257,2016-10-30 16:07:26.539,No,Male,48,CANADA,BC,NaN,3.0,2.0,3.0,...,1,2,3 or higher,3 or higher,2,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
1258,2016-10-30 17:06:45.660,Yes,Female,44,USA,Nh,2.0,1.0,2.0,2.0,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Daily Dish,NaN

**Second Data Set: Public School Attendance US**

**Introduction:**

This data set is attendance, pulled from public schools around the United States. This data is from the 2007-2008 academic year. The data set is organized by school and state level.

**Dataset Preparation**

First, I read in the excel file, and printed the first 5 rows with the head method to see what I was working with.

In [19]:
#one line to open and read a csv filed into a data fram data structure
df2 = pd.read_excel('attendance.xls')

#print the first few lines of the data frame, default is 5 lines
df2.head()

,"Table 43. Average daily attendance (ADA) as a percentage of total enrollment, school day length, and school year length in public schools, by school level and state: 2007-08",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,"Total elementary, secondary, and combined elem...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Elementary schools,NaN,NaN,NaN,Secondary schools,NaN,NaN,NaN
1,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,Average days in school year,NaN,Average hours in school year,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN
2,1,2,NaN,3,NaN,4,NaN,5,NaN,6,NaN,7,NaN,8,NaN,9,NaN
3,United States ........,93.079,0.218555,6.6447,0.017650,180,0.142993,1192.65,3.0859,94.005,0.269369,6.65606,0.015998,91.1181,0.432223,6.59439,0.040308
4,Alabama .................,93.8124,1.237261,7.02852,0.065621,180,0.755110,1266.62,12.3343,93.7764,1.839154,7.03847,0.075944,94.561,0.37928,7.13724,0.17312

The first thing I noticed when reading in this data set was that the title of the data set read as the first column name. Additionally, all of the column names were not read in. My first priority was to organize this by renaming each column so it corresponded with it's data. There was one number after each column name that we could not figure out the value of, so I named this column as additional of "other" info.

In [20]:
#naming the columns
#replacing string on left with the string on right
#I completley renamed each column to align with the data because it was read in differentley 
df2.rename(columns = {list(df2)[0]:'Location Name',
                      list(df2)[1]: 'Total ADA percent of enrollment',
                      list(df2)[2]: '(other percent enrollment info)',
                      list(df2)[3]: 'Total average hours in a school day',
                      list(df2)[4]: '(other school day info)',
                      list(df2)[5]: 'Total average days in a school year',
                      list(df2)[6]: '(other school year info)',
                      list(df2)[7]: 'Total average hours in a school year',
                      list(df2)[8]: '(other school year info)',
                      list(df2)[9]: 'Elementary School: ADA percent of enrollment',
                      list(df2)[10]: '(other percent enrollment info)',
                      list(df2)[11]: 'Elementary School: Average hours in school day',
                      list(df2)[12]: '(other school day info)',
                      list(df2)[13]: 'Secondary Schools: ADA percent of enrollment',
                      list(df2)[14]: '(other percent enrollment info)',
                      list(df2)[15]: 'Secondary School: Average hours in school day',
                      list(df2)[16]: '(other school day info)',},
          inplace = True)

df2.head()

,Location Name,Total ADA percent of enrollment,(other percent enrollment info),Total average hours in a school day,(other school day info),Total average days in a school year,(other school year info),Total average hours in a school year,(other school year info),Elementary School: ADA percent of enrollment,(other percent enrollment info),Elementary School: Average hours in school day,(other school day info),Secondary Schools: ADA percent of enrollment,(other percent enrollment info),Secondary School: Average hours in school day,(other school day info)
0,NaN,"Total elementary, secondary, and combined elem...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Elementary schools,NaN,NaN,NaN,Secondary schools,NaN,NaN,NaN
1,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,Average days in school year,NaN,Average hours in school year,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN
2,1,2,NaN,3,NaN,4,NaN,5,NaN,6,NaN,7,NaN,8,NaN,9,NaN
3,United States ........,93.079,0.218555,6.6447,0.017650,180,0.142993,1192.65,3.0859,94.005,0.269369,6.65606,0.015998,91.1181,0.432223,6.59439,0.040308
4,Alabama .................,93.8124,1.237261,7.02852,0.065621,180,0.755110,1266.62,12.3343,93.7764,1.839154,7.03847,0.075944,94.561,0.37928,7.13724,0.17312

I then deleted unwanted rows at beginning which were read-in incorrectly as data, but were originally headers

In [21]:
#the drop method drops index 0,1,2 as these were read in incorrectly (and because I have already renamed the columns
#with data)
df2.drop(df2.index[[0,1,2]], inplace = True)
df2

,Location Name,Total ADA percent of enrollment,(other percent enrollment info),Total average hours in a school day,(other school day info),Total average days in a school year,(other school year info),Total average hours in a school year,(other school year info),Elementary School: ADA percent of enrollment,(other percent enrollment info),Elementary School: Average hours in school day,(other school day info),Secondary Schools: ADA percent of enrollment,(other percent enrollment info),Secondary School: Average hours in school day,(other school day info)
3,United States ........,93.079,0.218555,6.6447,0.017650,180,0.142993,1192.65,3.0859,94.005,0.269369,6.65606,0.015998,91.1181,0.432223,6.59439,0.040308
4,Alabama .................,93.8124,1.237261,7.02852,0.065621,180,0.755110,1266.62,12.3343,93.7764,1.839154,7.03847,0.075944,94.561,0.37928,7.13724,0.17312
5,Alaska ..................,89.9176,1.215976,6.47688,0.049882,180,3.427735,1162.91,22.8639,91.2815,1.563482,6.48679,0.053082,93.2409,1.57371,6.24087,0.145993
6,Arizona .................,89.037,2.952601,6.43369,0.091917,181,1.678664,1159.11,14.4327,88.9044,3.905033,6.44315,0.102053,88.9797,3.22058,6.36909,0.248824
7,Arkansas ................,91.8271,1.352924,6.88542,0.061468,179,0.201577,1228.89,10.6821,92.0932,2.091651,6.93216,0.076546,90.812,2.23155,6.76751,0.095928
8,California ..............,93.241,0.711649,6.24064,0.066364,181,0.439441,1128.77,12.5276,94.9314,0.753808,6.28974,0.051471,89.3609,1.44673,6.14262,0.202711
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Colorado ................,93.8872,0.440366,7.00761,0.051954,171,1.047398,1199.3,9.9247,94.5353,0.447224,6.96058,0.066373,91.2429,1.28132,7.00875,0.105105
11,Connecticut .............,87.9259,2.984395,6.46655,0.087829,181,0.137733,1173.08,15.9229,87.3722,3.977535,6.46963,0.111509,93.7472,0.68057,6.46219,0.091594
12,Delaware ................,89.7706,1.754942,6.67801,0.089584,181,0.831973,1208.23,18.6503,89.3634,2.502472,6.76638,0.060578,‡,(†),6.54407,0.225909
13,District of Columbia ....,91.2208,1.269699,6.91375,0.214259,181,0.437943,1255.96,42.2610,93.9313,0.378824,6.91651,0.096940,‡,(†),‡,(†)
14,Florida .................,92.6782,0.741328,6.42749,0.084127,184,1.200181,1183.57,18.8174,93.9625,0.935657,6.46352,0.054990,89.9067,1.42964,6.31701,0.377265
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Georgia .................,93.2662,1.278376,6.79186,0.058118,181,1.038880,1229.21,12.4409,93.872,1.600244,6.81855,0.060145,93.0693,1.22527,6.87159,0.089014
17,Hawaii ..................,90.7213,4.577376,6.25758,0.097959,179,1.573022,1118.16,12.7243,90.8222,2.634171,6.21725,0.048280,‡,(†),‡,(†)
18,Idaho ...................,92.3733,2.269361,6.63155,0.085639,173,2.580303,1142.51,12.9977,91.9865,3.704115,6.59308,0.126844,92.5208,1.54277,6.66775,0.109899
19,Illinois ................,93.9705,0.706806,6.50051,0.053929,177,0.297876,1147.29,9.6335,95.3386,0.501835,6.49161,0.060825,89.9831,2.45349,6.49655,0.128404
20,Indiana .................,95.6746,0.510953,6.77208,0.062664,180,0.293324,1221.84,11.4011,95.8824,0.608187,6.71015,0.067023,95.0476,0.742807,6.96317,0.089091
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Iowa ....................,94.7606,0.645329,6.85364,0.088878,180,0.198761,1232.16,16.2713,96.2859,0.464240,6.89253,0.073588,90.4463,2.32932,6.64382,0.297336
23,Kansas ..................,95.3508,0.518303,6.98152,0.073274,178,0.633207,1240.07,14.6755,95.897,0.532599,6.98478,0.092847,94.6401,0.352401,7.00631,0.069329
24,Kentucky ................,93.0681,1.893770,6.68771,0.058200,180,1.074857,1201.77,11.8224,93.9503,2.555089,6.70708,0.079091,91.4904,2.87798,6.70971,0.089078
25,Louisiana ...............,90.3495,2.310309,7.07677,0.077571,178,0.962000,1262.86,14.9237,91.5498,3.190268,6.95146,0.104969,88.0394,1.81895,7.26485,0.116807
26,Maine ...................,90.3036,2.409541,6.47134,0.064845,176,0.225253,1138.8,11.1675,90.3254,3.175706,6.54515,0.078724,89.5276,1.58029,6.23848,0.143481
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Maryland ................,94.1037,0.439791,6.58861,0.072328,180,0.362775,1187.96,13.8137,95.2587,0.372772,6.65203,0.055013,90.1805,1.19629,6.39479,0.317211
29,Massachusetts ...........,94.5963,0.579249,6.45064,0.051428,180,0.068994,1162.68,9.3420,95.87,0.281920,6.39719,0.058120,89.6125,2.66497,6.61977,0.103123
30,Michigan ................,92.9685,1.011628,6.56221,0.076225,178,0.903239,1168.21,13.2329,94.5288,1.119723,6.70579,0.066873,88.7778,2.06342,6.21481,0.204946
31,Minnesota ...............,93.146,0.908900,6.28035,0.121614,176,1.417200,1101.86,19.7642,94.7814,1.220212,6.50822,0.063133,93.2378,0.818993,6.30476,0.128575
32,Mississippi .............,92.0911,1.996271,6.99492,0.122474,181,0.194161,1264.57,22.4842,95.0558,0.334469,7.06205,0.070032,92.91,0.762194,6.81782,0.370673
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,New Hampshire ...........,92.2074,1.754847,6.54072,0.063014,180,0.048457,1178.18,11.2351,92.5451,2.120287,6.4741,0.035447,90.3873,3.28455,6.80513,0.113535
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,New Jersey ..............,94.6104,0.593407,6.441,0.051120,181,0.356345,1167.49,8.8999,95.5184,0.465409,6.42211,0.061848,91.6625,1.73682,6.52887,0.08978
41,New Mexico ..............,91.8733,1.764860,6.84617,0.078588,177,1.426564,1208.99,13.2985,92.2788,2.385688,6.74511,0.090996,90.1029,2.11624,7.05618,0.120285
42,New York ................,92.7354,1.302509,6.58606,0.085583,182,0.385996,1201.57,16.1519,94.4489,0.613896,6.4672,0.122943,90.8198,3.15359,6.94432,0.062449
43,North Carolina ..........,92.5931,1.728306,6.74883,0.059490,180,0.060545,1215.64,10.7440,93.3407,2.330890,6.73988,0.074855,90.7752,1.77504,6.82943,0.091997
44,North Dakota ............,95.9212,0.588245,6.58249,0.038108,176,0.441778,1161.39,7.3662,96.5272,0.306219,6.5144,0.040640,92.8834,2.51123,6.76527,0.069815
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Ohio ....................,91.7806,2.005199,6.60656,0.096734,180,0.319711,1190.52,18.4531,91.6869,2.766763,6.57946,0.111114,92.8262,1.61815,6.64843,0.213482
47,Oklahoma ................,92.0575,2.241093,6.62873,0.058455,176,0.193334,1166.15,10.4225,90.8046,3.477207,6.69344,0.049616,93.716,0.656603,6.5126,0.195214
48,Oregon ..................,94.4014,0.591843,6.56541,0.056808,172,1.474504,1130.03,10.6379,95.0314,0.240592,6.52539,0.051206,92.9188,1.36643,6.5591,0.138652
49,Pennsylvania ............,94.8806,0.392465,6.42794,0.123120,181,0.282291,1162.7,22.2244,95.3644,0.456340,6.47271,0.090435,94.1435,0.883882,6.35327,0.396725
50,Rhode Island ............,93.7365,1.267272,6.27171,0.031661,180,0.092194,1131.1,5.6457,94.2322,1.628417,6.24175,0.036296,‡,(†),‡,(†)
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,South Carolina ..........,94.8972,0.714842,6.92488,0.069953,181,0.427131,1251.54,12.6797,95.767,0.732163,6.97315,0.048151,91.8761,1.90232,6.78377,0.253193
53,South Dakota ............,93.6406,2.533928,6.82809,0.079889,173,0.854924,1179.91,10.0969,93.2118,3.779123,6.84429,0.098693,‡,(†),‡,(†)
54,Tennessee ...............,94.9425,0.227754,7.02813,0.054076,180,0.330222,1265.15,9.8424,95.5737,0.246806,7.0359,0.071533,93.4541,0.788111,7.02342,0.028951
55,Texas ...................,94.0868,1.335309,7.17318,0.108078,180,0.796808,1288.88,18.8107,95.6819,1.614634,7.16933,0.098598,89.6515,3.43487,7.05743,0.162884
56,Utah ....................,91.3674,1.557600,6.28167,0.286143,182,6.237453,1142.1,33.3865,93.77,1.792894,6.53264,0.089300,87.1377,3.4221,5.85581,0.551016
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Vermont .................,92.726,3.392472,6.65638,0.073960,177,0.457090,1179.45,13.5836,93.0812,4.498027,6.71647,0.090426,90.7783,4.08082,6.4075,0.176015
59,Virginia ................,94.678,0.460467,6.61718,0.050234,181,0.159185,1197.33,9.1034,95.5969,0.349639,6.61113,0.032699,93.9422,0.5841,6.67654,0.187479
60,Washington ..............,82.8556,3.056990,6.22202,0.080353,179,0.173674,1116.54,14.4906,81.047,4.416025,6.37864,0.045202,85.7672,2.75371,5.89289,0.266992
61,West Virginia ...........,94.0098,0.987722,6.87364,0.070124,182,0.497818,1251.23,13.6853,94.3742,1.315128,6.87959,0.093158,92.846,0.408932,6.82534,0.136584
62,Wisconsin ...............,94.9509,0.566144,6.91175,0.042731,180,0.736128,1246.48,8.6319,95.376,0.414753,6.88687,0.048538,93.0196,1.90793,7.01951,0.144539
63,Wyoming .................,92.353,1.154487,6.85867,0.045848,175,1.278829,1200.93,8.3266,92.1909,1.647681,6.85061,0.054651,92.3894,0.749597,6.97859,0.0679
64,†Not applicable.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,‡Reporting standards not met (too few cases).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NOTE: Averages reflect data reported by school...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,"SOURCE: U.S. Department of Education, National...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Deleting unwanted columns which are read in as empty (NaN)

Next, I noticed that alot of the rows are empty. My next step was to replace all null values with y.

In [22]:
#filling null values with y
df2 = df2.fillna('y')
#print tail to display replaced null values 
df2.tail()

,Location Name,Total ADA percent of enrollment,(other percent enrollment info),Total average hours in a school day,(other school day info),Total average days in a school year,(other school year info),Total average hours in a school year,(other school year info),Elementary School: ADA percent of enrollment,(other percent enrollment info),Elementary School: Average hours in school day,(other school day info),Secondary Schools: ADA percent of enrollment,(other percent enrollment info),Secondary School: Average hours in school day,(other school day info)
63,Wyoming .................,92.353,1.15449,6.85867,0.045848,175,1.27883,1200.93,8.3266,92.1909,1.64768,6.85061,0.054651,92.3894,0.749597,6.97859,0.0679
64,†Not applicable.,y,y,y,y,y,y,y,y,y,y,y,y,y,y,y,y
65,‡Reporting standards not met (too few cases).,y,y,y,y,y,y,y,y,y,y,y,y,y,y,y,y
66,NOTE: Averages reflect data reported by school...,y,y,y,y,y,y,y,y,y,y,y,y,y,y,y,y
67,"SOURCE: U.S. Department of Education, National...",y,y,y,y,y,y,y,y,y,y,y,y,y,y,y,y

**Third Data Set: Sales**

**Introduction:**

This data set covers online ticket sales for various events across the United States.

**Dataset Preparation**

First, I read in the csv file and printed the first 5 rows to see the data.

In [23]:
#one line to open and read a csv filed into a data fram data structure
df1 = pd.read_csv('sales.csv')

#print the first few lines of the data fram, default is 5 lines
df1.head()

,Unnamed: 0,event_id,primary_act_id,secondary_act_id,purch_party_lkup_id,event_name,primary_act_name,secondary_act_name,major_cat_name,minor_cat_name,...,edu_1st_indv_val,edu_2nd_indv_val,adults_in_hh_num,married_ind,child_present_ind,home_owner_ind,occpn_val,occpn_1st_val,occpn_2nd_val,dist_to_ven
0,1,abcaf1adb99a935fc661,43f0436b905bfa7c2eec,b85143bf51323b72e53c,7dfa56dd7d5956b17587,Xfinity Center Mansfield Premier Parking: Flor...,XFINITY Center Mansfield Premier Parking,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,6c56d7f08c95f2aa453c,1a3e9aecd0617706a794,f53529c5679ea6ca5a48,4f9e6fc637eaf7b736c2,Gorge Camping - dave matthews band - sept 3-7,Gorge Camping,Dave Matthews Band,MISC,CAMPING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0
2,3,c7ab4524a121f9d687d2,4b677c3f5bec71eec8d1,b85143bf51323b72e53c,6c2545703bd527a7144d,Dodge Theatre Adams Street Parking - benise,Parking Event,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,394cb493f893be9b9ed1,b1ccea01ad6ef8522796,b85143bf51323b72e53c,527d6b1eaffc69ddd882,Gexa Energy Pavilion Vip Parking : kid rock wi...,Gexa Energy Pavilion VIP Parking,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,55b5f67e618557929f48,91c03a34b562436efa3c,b85143bf51323b72e53c,8bd62c394a35213bdf52,Premier Parking - motley crue,White River Amphitheatre Premier Parking,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

At first glance, this data looked a lot cleaner than the previous sets, having clean header names and values. 

One of the first things I noticed however was that the first column has no value other than marking the number of the row, which is already done with pandas. I deleted this column with the dropna method.

In [24]:
#deleting column with drop method
#again, inplace makes sure the data is permanently and directly edited 
df1.drop(["Unnamed: 0"], axis=1, inplace = True)
df1

,event_id,primary_act_id,secondary_act_id,purch_party_lkup_id,event_name,primary_act_name,secondary_act_name,major_cat_name,minor_cat_name,la_event_type_cat,...,edu_1st_indv_val,edu_2nd_indv_val,adults_in_hh_num,married_ind,child_present_ind,home_owner_ind,occpn_val,occpn_1st_val,occpn_2nd_val,dist_to_ven
0,abcaf1adb99a935fc661,43f0436b905bfa7c2eec,b85143bf51323b72e53c,7dfa56dd7d5956b17587,Xfinity Center Mansfield Premier Parking: Flor...,XFINITY Center Mansfield Premier Parking,NaN,MISC,PARKING,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6c56d7f08c95f2aa453c,1a3e9aecd0617706a794,f53529c5679ea6ca5a48,4f9e6fc637eaf7b736c2,Gorge Camping - dave matthews band - sept 3-7,Gorge Camping,Dave Matthews Band,MISC,CAMPING,INVALID,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0
2,c7ab4524a121f9d687d2,4b677c3f5bec71eec8d1,b85143bf51323b72e53c,6c2545703bd527a7144d,Dodge Theatre Adams Street Parking - benise,Parking Event,NaN,MISC,PARKING,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,394cb493f893be9b9ed1,b1ccea01ad6ef8522796,b85143bf51323b72e53c,527d6b1eaffc69ddd882,Gexa Energy Pavilion Vip Parking : kid rock wi...,Gexa Energy Pavilion VIP Parking,NaN,MISC,PARKING,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,55b5f67e618557929f48,91c03a34b562436efa3c,b85143bf51323b72e53c,8bd62c394a35213bdf52,Premier Parking - motley crue,White River Amphitheatre Premier Parking,NaN,MISC,PARKING,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4f10fd8b9f550352bd56,ac4b847b3fde66f2117e,63814f3d63317f1b56c4,3b3a628f83135acd0676,Fast Lane Access: Journey,Fast Lane Access,Journey,MISC,SPECIAL ENTRY (UPSELL),UPSELL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,105ea9ee10065b54b0df,a14232befff04be1e2f3,b85143bf51323b72e53c,14af02b72584fa823f85,Phil Lesh & friends-pnc bank arts center holmd...,PNC Bank Arts Center Holmdel Premier Parking,NaN,MISC,PARKING,PARKING,...,High School,NaN,4.0,0.0,1.0,0.0,NaN,Craftsman Blue Collar,NaN,NaN
7,593b910d17913d7101cb,91c03a34b562436efa3c,b85143bf51323b72e53c,c7878d51bb2d62d4705c,Star Parking Presented By Hertz: Train - whit...,White River Amphitheatre Premier Parking,NaN,MISC,PARKING,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0fb4e7152e09a40ffedd,0efaba7ce3f0d7466b42,f66a1cf484a8cd868fb4,ec216826c73d9a3f6f9c,Brad Paisley: Hertz Premier Parking,Hertz Premier Parking,Brad Paisley,MISC,PARKING,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,93fce8094d89e0a94aac,f6425a3223e73ea6de5a,d8c54467eb14c7dd1476,97a3efbab1bfcc0a6093,Shlohmo,Shlohmo,Purple,CONCERTS,DANCE MUSIC/DANCE,CONCERTS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,402bebb1d89c4024047a,8f53c0b7cd7810a1829d,b85143bf51323b72e53c,4e4d22890318dae96e6d,Cricket Pavilion Premier Parking: Earth Wind A...,Cricket Pavilion Phx. Premier Parking,NaN,MISC,PARKING,PARKING,...,High School,High School,2.0,1.0,NaN,1.0,Retired,Retired,Retired,NaN
11,6adcf8b2dc8a761b22b7,094156ef72361776c8ee,b148517112c348d23c90,aacf83f268bd967f98e7,Blake Shelton: Presented By Gildan,Blake Shelton,Chris Janson,CONCERTS,COUNTRY,CONCERTS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,d3c8f5fb844690fb5af6,732d4f52a3ac2b7de8ef,b85143bf51323b72e53c,59eb1bf6c887ccc26d17,Skip The Line: Pierce The Line/all Time Low,Live Nation C-T Upsells - Special Access,NaN,MISC,SPECIAL ENTRY (UPSELL),UPSELL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,5c7d36b783905ba488f4,34ad0e9254b8f7d1cbe0,b85143bf51323b72e53c,9efc747b02e3eea0cd89,Tabernacle Parking: Chris Botti,Tabernacle Parking,NaN,MISC,PARKING,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,e68754d15ef2b8694b26,6e3df9919c998817e1b1,b85143bf51323b72e53c,6ad4972b327c8a7b3fc9,Premier Parking: Aerosmith,Virginia Beach Amphitheater VIP Parking,NaN,MISC,PARKING,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,afd7dbe7675fc5480a0c,4b677c3f5bec71eec8d1,b85143bf51323b72e53c,ebee63b01e98b720aebc,Premier Parking: Toby Keith,Parking Event,NaN,MISC,PARKING,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0
16,e6a1bc0620dc1fb45b6d,7cb02562bcb9387cbd13,b85143bf51323b72e53c,0782b2074b13d4bd4756,Lindsey Stirling: The Music Box Tour,Lindsey Stirling,NaN,CONCERTS,ROCK/POP,CONCERTS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,8bc575c22b944a6715d0,43f0436b905bfa7c2eec,b85143bf51323b72e53c,f83bca5fa2608f506778,Premier Parking : rascal flatts,XFINITY Center Mansfield Premier Parking,NaN,MISC,PARKING,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,5777fc7899ca8f4ef03b,4b677c3f5bec71eec8d1,b85143bf51323b72e53c,6c93aa49eccb7c97d895,Dodge Theatre Adams Street Parking - bb king,Parking Event,NaN,MISC,PARKING,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,b1574cb6bfd591a98572,d769ab09a96be5a0b316,b85143bf51323b72e53c,85188c1c9d49ba2f45fd,Verizon Wireless Amphitheatre Vip Parking: Zac...,Verizon Wireless Amph. Charlotte Premier Parking,NaN,MISC,PARKING,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,516c79412f8b76efa1ac,43f0436b905bfa7c2eec,b85143bf51323b72e53c,7c32a73a0c9fd6c36991,Xfinity Center Mansfield Premier Parking: Tim ...,XFINITY Center Mansfield Premier Parking,NaN,MISC,PARKING,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,f7a4ec7efe1cd5125812,ac4b847b3fde66f2117e,b85143bf51323b72e53c,d63d6400698a61a2ba5a,Skip The Line: Maroon 5/kelly clarkson,Fast Lane Access,NaN,MISC,SPECIAL ENTRY (UPSELL),UPSELL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,de38ce6ac8d362f98fd7,6cdc2e270775b7e2f709,b85143bf51323b72e53c,938c01c9d4cd76d50cac,Vip Fast Lane: Dave Matthews Band,Vip Fast Lane,NaN,MISC,CONCESSION VOUCHERS (UPSELL),UPSELL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,179eb086e65ad82d0225,9caaa3cea047cfffa7b3,b85143bf51323b72e53c,7d2d3566e9bfe70ec9ef,Premier Parking: John Mayer,First Niagara Pavilion VIP Parking,NaN,MISC,PARKING,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0
24,7507d55fcb3b1c524027,dce08e99e3ce7d2149f3,b85143bf51323b72e53c,91690e181e52ddc32304,Lakewood Amphitheatre Parking: Tim Mcgraw,Aaron's Amphitheatre at Lakewood Parking,NaN,MISC,PARKING,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,6c73e7adb3a2982b1456,6cdc2e270775b7e2f709,b85143bf51323b72e53c,b68d2abfeebb05984994,The Lawn At White River Vip Fast Lane: Moody B...,Vip Fast Lane,NaN,MISC,CONCESSION VOUCHERS (UPSELL),UPSELL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,dcc303578fdb9493de39,a75e1e1b72ac7f7ab1f6,486fe5fcfdb664516ec1,42c5142562a4a9a01798,Godsmack,Godsmack,Within Reason,CONCERTS,ALTERNATIVE ROCK,CONCERTS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,5ee2a492f932af193757,be462316a8567e40fdf0,b85143bf51323b72e53c,89f174132dfe9cfa5329,Old National Centre Bottomless Soda: Childish ...,Fantastic Meal Voucher,NaN,MISC,DINNER PACKAGES (UPSELL),UPSELL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,dfe06d7bf50a876cc303,4b677c3f5bec71eec8d1,b85143bf51323b72e53c,9ffe5ca5684cfedc7e37,Wrsp Premier Parking : alice cooper,Parking Event,NaN,MISC,PARKING,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,b516196d16d9f600ed69,8475a7f6159d0149c11d,a010d0552856269b65a2,e6c30f65b31f7d1c43d2,Florence And The Machine: How Beautiful Tour,Florence and the Machine,Of Monsters and Men,CONCERTS,ROCK/POP,CONCERTS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,a4f431802a5db1a5afee,86548c5bce2089a5d311,b85143bf51323b72e53c,3882eb03b9037d98bb85,Parking: James Taylor,Blossom Music Center Premier Parking,NaN,MISC,PARKING,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.0
4971,ffdb7f76c259bd015a54,ac4b847b3fde66f2117e,b85143bf51323b72e53c,8bb39223b08389b85c65,Old National Centre Priority Pass: City And Co...,Fast Lane Access,NaN,MISC,SPECIAL ENTRY (UPSELL),UPSELL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4972,7eca92b4b4eb41ad6239,1a3e9aecd0617706a794,b85143bf51323b72e53c,17d037debf85c2f88147,Sasquatch Camping Event,Gorge Camping,NaN,MISC,CAMPING,INVALID,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4973,d09d372bed59ac89a735,002d7347ccac23f064b3,b85143bf51323b72e53c,b7fa53747239ae91aeb0,Premier Parking: Tony Hawks Boom Boom Huckjam,Hollywood Casino Amphitheatre Chicago VIP Parking,NaN,MISC,PARKING,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4974,6dc00a98a31de0cf10ac,c2771bc344c9db424eac,b85143bf51323b72e53c,afad8aeac5a32622203d,Premier Parking : roger waters,Shoreline Mountain View Premier Parking,NaN,MISC,PARKING,PARKING,...,NaN,NaN,4.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN
4975,2121b4186f9d0232aae1,c630e0584b7b59c4edbe,b85143bf51323b72e53c,f0f8518f9e215203a6cb,Donnell Rawlings,Donnell Rawlings,NaN,CONCERTS,COMEDY,ARTS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4976,1bc30cba19894b1a3513,9babfdb02a7f8004fc6e,e2981973281c70939168,21a1cac9210e7dd25092,Gorge Amphitheatre Premier Parking May 24,Gorge Amphitheatre Star Parking,Sasquatch! Festival,MISC,PARKING,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4977,7071ee5754b7ed08b0ef,ea6991e953477c0bb31f,b85143bf51323b72e53c,0a72820f026b441aed7c,Dodge Theatre Adams Street Parking - latino vi...,Dodge Theatre Parking,NaN,MISC,PARKING,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4978,b7926005e963004ec487,e7977ac6f61f6a9500ab,9a0868ed7d044fc6b3dd,c828e6b3ae220655c41b,Tedeschi Trucks Band - wheels of soul 2016 sum...,Tedeschi Trucks Band,Los Lobos,CONCERTS,ROCK/POP,CONCERTS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4979,21c735bbf5a29ee1db09,55503bb8973acb4c0f0a,72cd992a397c499845f4,f14c266739e827e75d11,Duran Duran,Duran Duran,Clean Bandit,CONCERTS,ALTERNATIVE ROCK,CONCERTS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4980,f1b4add9237241bd69c4,8878d2a6d6d6a71ca7a2,63814f3d63317f1b56c4,6bd18f9b4582b8111826,Gorge Amphitheatre Camping: Journey,Gorge Amphitheatre Vip Club,Journey,MISC,SPECIAL ENTRY (UPSELL),UPSELL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4981,6a29cec2d939911d4c1c,d0b2f8ad63a0301c1d78,b85143bf51323b72e53c,21f53bef976f84f6c1b3,Vip Parking: 311,Hertz Vip Parking,NaN,MISC,PARKING,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4982,4479d1e5eab4b6703142,c1a7fb9a4de3521c4b87,b85143bf51323b72e53c,dee369530bab6b0d1fdc,Darien Lake Park Admission - Discounted Concer...,Darien Lake Park Admission - Discounted Concer...,NaN,MISC,SPECIAL ENTRY (UPSELL),UPSELL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4983,3af4addbf8aa67f62e6b,711a6302877f7e3028b9,b85143bf51323b72e53c,b8d8656bad49cc3730a1,Premier Parking: Fresh Beat Band,Toyota Presents Oakdale Theatre Premier Parking,NaN,MISC,PARKING,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4984,84a260b1bcd31e2e75a7,1a3e9aecd0617706a794,e2981973281c70939168,15c91d605297d0cdbe7d,Gorge Camping - sasquatch! festival may 22-26,Gorge Camping,Sasquatch! Festival,MISC,CAMPING,INVALID,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4985,9bb699d6f5b40789356e,bb5dacc7476668d0dd50,b85143bf51323b72e53c,8ef592afbb94a8006976,Premier Parking: Aerosmith / motley crue,Alltel Pavilion Raleigh Premier Parking,NaN,MISC,PARKING,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4986,445c9e36e356c2995a73,5cd02f0925d7ba013e34,b85143bf51323b72e53c,223a2c2669496c9045ad,Josh Garrels,Josh Garrels,NaN,CONCERTS,FOLK,CONCERTS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4987,474219cfd57afb7210ef,6e3df9919c998817e1b1,b85143bf51323b72e53c,a15cd89b20fdfb6caa2a,Premier Parking: Dave Matthews Band,Virginia Beach Amphitheater VIP Parking,NaN,MISC,PARKING,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4988,daa12dc215f196c24bc1,8d43f8055cd8801eee81,598cdb49b4c5dab79cde,9f68aa32049b4a5a74b9,Jimmy Buffett,Jimmy Buffett,Huey Lewis and the News,CONCERTS,ROCK/POP,CONCERTS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4989,893e8bc79ada0d860ac9,ebe30b90662305cd8f18,3f010d7b8687dbfc8409,2c2885f4d6b7c1cf720b,Van Halen,Van Halen,The Kenny Wayne Shepherd Band,CONCERTS,ROCK/POP,CONCERTS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4990,6789e447a44036d5628c,4b677c3f5bec71eec8d1,b85143bf51323b72e53c,ec1d8a162641518d7a5b,Dodge Theatre Adams Street Garage Parking - inxs,Parking Event,NaN,MISC,PARKING,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4991,09984e0d6ca9b1de13ed,da9ab9b6f5d99b8c3195,b85143bf51323b72e53c,16a410473fc4d3c334d9,Dave Chappelle,Dave Chappelle,NaN,CONCERTS,COMEDY,ARTS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4992,720f557e40ffdb2cfa16,91c03a34b562436efa3c,a75e1e1b72ac7f7ab1f6,8f7bb8c44f67ed2632ec,Premier Parking - godsmack & rob zombie,White River Amphitheatre Premier Parking,Godsmack,MISC,PARKING,PARKING,...,High School,High School,4.0,1.0,1.0,1.0,NaN,NaN,Clerical WhiteCollar,NaN
4993,dfbc00d338c1e2e99d4b,a0ed82451f57a8914eba,b85143bf51323b72e53c,4f0cfe8ec7ce647bf73e,Aerosmith & motley crue: jones beach theater p...,Nikon At Jones Beach Theater Premier Parking,NaN,MISC,PARKING,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4994,997c44d1def48153316d,716df6554f0887b73f1a,b85143bf51323b72e53c,5f0e8870d2d08f157042,Josh Groban,Josh Groban,NaN,CONCERTS,ADULT CONTEMPORARY,CONCERTS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4995,79372bc1e7e14dfd3f82,a14232befff04be1e2f3,b85143bf51323b72e53c,8a03312852bd2a785f2c,Premier Parking - eric clapton - pnc bank arts...,PNC Bank Arts Center Holmdel Premier Parking,NaN,MISC,PARKING,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4996,f3b0de6a19e2a16e4fb1,83e5715f0ed3e13e6398,b2b558b1fe3efad19edb,f032fe520e8313bef880,Sublime With Rome / rebelution,Sublime with Rome,Rebelution,CONCERTS,ROCK/POP,CONCERTS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4997,7c9e2f6847a2dbe4ebff,9ea8ab40f58d18305ac8,b85143bf51323b72e53c,f270f4daa5c3dd61a8c5,Premier Parking : journey with heart and cheap...,Sleep Train Amphitheatre Premier Parking,NaN,MISC,PARKING,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
4998,7af1ccd9a3ec3b6cef1c,e274b5c11a2a63e00141,b85143bf51323b72e53c,55a61a5e0ceb8beee897,Premier Parking: Rascal Flatts,Umb Bank Pavilion St. Louis Premier Parking,NaN,MISC,PARKING,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4999,802f4bf8026e38c2acf2,24c326bd80bd2c8c9e17,b22d584a2132b33e23e0,55e6e08d4b712243944d,Dropkick Murphys,Dropkick Murphys,Tiger Army,CONCERTS,ALTERNATIVE ROCK,CONCERTS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Next, I wanted to delete all null values, as there were quite a few in this data set. However, I had trouble getting the .dropna method to function with this set of data, so I replaced all null values with x.

In [25]:
#method checks for null values

#method drops all columns that contain null values
#df1.dropna(axis=1, inplace = True)
#df1.head()

#Instead, replacing null values with x

df1 = df1.fillna('x')
#print tail to display replaced null values 
df1.tail()

,event_id,primary_act_id,secondary_act_id,purch_party_lkup_id,event_name,primary_act_name,secondary_act_name,major_cat_name,minor_cat_name,la_event_type_cat,...,edu_1st_indv_val,edu_2nd_indv_val,adults_in_hh_num,married_ind,child_present_ind,home_owner_ind,occpn_val,occpn_1st_val,occpn_2nd_val,dist_to_ven
4995,79372bc1e7e14dfd3f82,a14232befff04be1e2f3,b85143bf51323b72e53c,8a03312852bd2a785f2c,Premier Parking - eric clapton - pnc bank arts...,PNC Bank Arts Center Holmdel Premier Parking,x,MISC,PARKING,PARKING,...,x,x,x,x,x,x,x,x,x,x
4996,f3b0de6a19e2a16e4fb1,83e5715f0ed3e13e6398,b2b558b1fe3efad19edb,f032fe520e8313bef880,Sublime With Rome / rebelution,Sublime with Rome,Rebelution,CONCERTS,ROCK/POP,CONCERTS,...,x,x,x,x,x,x,x,x,x,x
4997,7c9e2f6847a2dbe4ebff,9ea8ab40f58d18305ac8,b85143bf51323b72e53c,f270f4daa5c3dd61a8c5,Premier Parking : journey with heart and cheap...,Sleep Train Amphitheatre Premier Parking,x,MISC,PARKING,PARKING,...,x,x,x,x,x,x,x,x,x,5
4998,7af1ccd9a3ec3b6cef1c,e274b5c11a2a63e00141,b85143bf51323b72e53c,55a61a5e0ceb8beee897,Premier Parking: Rascal Flatts,Umb Bank Pavilion St. Louis Premier Parking,x,MISC,PARKING,PARKING,...,x,x,x,x,x,x,x,x,x,x
4999,802f4bf8026e38c2acf2,24c326bd80bd2c8c9e17,b22d584a2132b33e23e0,55e6e08d4b712243944d,Dropkick Murphys,Dropkick Murphys,Tiger Army,CONCERTS,ALTERNATIVE ROCK,CONCERTS,...,x,x,x,x,x,x,x,x,x,x

**Sources: Websites:**

https://www.shanelynn.ie/using-pandas-dataframe-creating-editing-viewing-data-in-python/

https://www.dataquest.io/blog/large_files/pandas-cheat-sheet.pdf 

https://stackoverflow.com/questions/46920454/how-to-replace-multiple-values-with-one-value-python

**Conclusion:**

Overall, this lab delt with 3 very messy data sets which contained empty rows and columns, mis-aligned data, and long column and row names. When dealing with each of these data sets, I first renamed columns to create more consise titles which would make it easier to analyze down the line. I then deleted empty rows and columns. For the Candy data set, I looked into accepting different options for answers of the same meaning in the survey (ex: USA, usa, ussa, etc. all represent the united states). I then made the data set more effecient by shortening "Joy, despair, and meh" to number values. This would also make data analysis more efficient down the line, as these values could be easily referenced and counted. For the attendance data set, the biggest obstacle I faced was aligning the columns with the proper values. Ms. Sconyers and I never figured out the value of some read-in numbers, so I chose column names that were vauge but fit with their rows. For the final data set, I deleted unnamed columns, but never figured out why my null value method was not working. In the future, I would like to figure out how this method works so I can delete null values instead of just replacing with x or y, as it will serve as extremeley valuable when sorting through empty data sets. 


Throughout my cleaning of these data sets, I thought I did a pretty efficient job cleaning the basic elements of each set. However, if I were to do an extensive analysis on these sets I would probably want to do a more specific job for each set. Overall, though, my work here will definetly serve as useful in my future data analysis, and even as I look back into Lab 3.

**Acknowledgements:**

I asked many questions to Ms. Sconyers throughout my cleaning of both data sets, and she ultimatley helped me with a lot of my code. Julia helped me figure out the inplace = True addition to certain methods, which made my code possible. She also helped me replace null values with x. I also used the data cleaning 101 notebook, as well as the pandas cheat sheet. Additionally, I went to multiple online sources to get specific coding questions answered.